@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
.hedimg {
  width: 100%;
  height: 450px;
  background-image: url("/static/img/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hedimg .nametext {
  margin-bottom: 60px;
  padding: 10px;
  width: 300px;
  text-align: center;
  border-width: 5px;
  border-style: ridge;
  border-color: #a55eea;
}

.hedimg .nametext h1 {
  font-family: 'Pacifico', cursive;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.hedimg .nametext h5 {
  font-family: 'Lobster', cursive;
}

.hedimg .ikons5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hedimg .ikons5 div {
  border-width: 5px;
  border-style: double;
  border-color: #a55eea;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hedimg .ikons5 div i {
  font-size: 20px;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hedimg .ikons5 div:hover {
  border-color: #7f4ab4;
  -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.hedimg .ikons5 div:hover i {
  color: #a55eea;
}

.hedimg .ikons5 span {
  height: 2px;
  width: 50px;
  border: 2px solid #a55eea;
  margin-top: 25px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar ul {
  margin-left: 15%;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

header .navbar ul .nav-item {
  color: #a55eea;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 15px;
  transition: 0.5s;
}

header .navbar ul .nav-item:hover {
  border-bottom: 1px dashed #a55eea;
  padding-bottom: 1px;
}

header .form {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1%;
}

header .form i {
  font-size: 30px;
  margin: 5px 10px;
  color: #a55eea;
}

header .form input {
  height: 40px;
  border: 2px solid #a55eea;
  border-radius: 20px;
  text-align: center;
  color: #a55eea;
  margin-right: 20px;
  outline: none;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.page1 {
  height: 600px;
  margin-top: 150px;
  background-color: #f0e8ee;
}

.page1 .page1img {
  position: relative;
  height: 600px;
}

.page1 .page1img .imgdiv {
  width: 85%;
  height: 95%;
  position: absolute;
  top: -62px;
  left: 4%;
  background-image: url("../img/img5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
          box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page1 .page1img .imgdiv:hover {
  background-size: 110% 110%;
}

.page1 .page1img h5 {
  font-family: 'Lobster', cursive;
  color: black;
  margin-left: 82%;
  font-size: 25px;
  border-bottom: 1px solid #a55eea;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-left: 100px;
  width: 200px;
  color: #a55eea;
  margin-top: 3%;
}

.page1 .page1text {
  margin-top: 10%;
}

.page1 .page1text h1 {
  font-family: 'Lobster', cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page1 .page1text h1:hover {
  color: #a55eea;
}

.page1 .page1text p {
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Parisienne', cursive;
}

.page1 .page1text button {
  margin-top: 40px;
  padding: 5px 30px;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page1 .page1text button:hover {
  color: white;
  background-color: #a55eea;
  border-color: #a55eea;
}

.page2 {
  width: 100%;
  height: 1000px;
  margin-top: 140px;
  background: #e0d2e8;
  background: linear-gradient(357deg, #e0d2e8 0%, white 100%);
}

.page2 h1 {
  font-family: 'Pacifico', cursive;
  border-bottom-style: double;
  width: 200px;
  padding-left: 30px;
  position: absolute;
  right: 15%;
  color: #a55eea;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.page2 .imgdivs {
  height: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page2 .imgdivs .img1div, .page2 .imgdivs .img2div, .page2 .imgdivs .img3div {
  border-style: double;
  width: 400px;
  height: 520px;
  position: relative;
  margin-top: 50px;
}

.page2 .imgdivs .img1div img, .page2 .imgdivs .img2div img, .page2 .imgdivs .img3div img {
  width: 80%;
  margin-top: -35px;
  margin-left: 17%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page2 .imgdivs .img1div:hover img, .page2 .imgdivs .img2div:hover img, .page2 .imgdivs .img3div:hover img {
  position: relative;
  z-index: 4;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.page2 .imgdivs .img1div .h5div, .page2 .imgdivs .img2div .h5div, .page2 .imgdivs .img3div .h5div {
  border-bottom: 1px solid #a55eea;
  text-align: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 350px;
  position: absolute;
  left: -37%;
  top: 25%;
}

.page2 .imgdivs .img1div .h5div h5, .page2 .imgdivs .img2div .h5div h5, .page2 .imgdivs .img3div .h5div h5 {
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 18px;
  margin-right: 10px;
}

.page2 .imgdivs .img1div p, .page2 .imgdivs .img2div p, .page2 .imgdivs .img3div p {
  font-family: 'Parisienne', cursive;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.page2 .imgdivs .img2div {
  margin-top: 12%;
  width: 450px;
  height: 630px;
}

.page2 .imgdivs .img2div .h5div {
  width: 350px;
  left: -33%;
  top: 22%;
}

.page2 .imgdivs .img2div .h5div h5 {
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 18px;
  margin-right: 10px;
}

.page2 .imgdivs .img3div {
  margin-top: 24%;
}

.country {
  width: 100%;
  height: auto;
  position: relative;
  top: 50px;
}

.country h1 {
  font-family: 'Pacifico', cursive;
  border-bottom-style: double;
  width: 200px;
  padding-left: 30px;
  position: absolute;
  left: 2px;
  top: -5%;
  color: #a55eea;
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
}

.country h2 {
  text-align: center;
  margin-top: 120px;
  font-family: 'Parisienne', cursive;
}

.country h3 {
  margin-left: 65%;
  font-family: 'Pacifico', cursive;
}

.country .aboutdiv {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.country .aboutdiv .countryitem {
  margin-bottom: 50px;
  width: 43%;
  height: 620px;
  position: relative;
  overflow: hidden;
}

.country .aboutdiv .countryitem .div1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-top: 4px double #a55eea;
  border-left: 4px double #a55eea;
  border-radius: 10px 0;
  z-index: 1;
}

.country .aboutdiv .countryitem .div2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-bottom: 4px double #a55eea;
  border-right: 4px double #a55eea;
  border-radius: 10px 0;
  right: 0px;
  bottom: 0;
  z-index: 1;
}

.country .aboutdiv .countryitem .divIn {
  background: #e4e4e4;
  background: linear-gradient(357deg, #e4e4e4 0%, white 100%);
  width: 95%;
  height: 590px;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-top: 2.5%;
  position: relative;
  overflow: hidden;
}

.country .aboutdiv .countryitem .divIn img {
  position: relative;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.country .aboutdiv .countryitem .divIn img:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.country .aboutdiv .countryitem .divIn h6 {
  position: absolute;
  z-index: 3;
  top: 43%;
  left: 6%;
  color: #c5c4c4;
  border-bottom-style: double;
  padding-bottom: 3px;
}

.country .aboutdiv .countryitem .divIn h3 {
  margin-left: 0;
  font-family: 'Pacifico', cursive;
  margin-top: 20px;
  text-align: center;
  color: #a55eea;
}

.country .aboutdiv .countryitem .divIn p {
  font-family: 'Parisienne', cursive;
  font-size: 23px;
  margin: 20px 20px 5px 20px;
}

.country .aboutdiv .countryitem .divIn h4 {
  margin-left: 60%;
  font-family: 'Pacifico', cursive;
}

.country .aboutdiv .countryitem .divIn .like {
  width: 500px;
  margin-left: 15px;
  height: 45px;
  position: absolute;
  z-index: 5;
  bottom: 11%;
}

.country .aboutdiv .countryitem .divIn .like hr {
  margin-top: -25px;
}

.country .aboutdiv .countryitem .divIn .like ul {
  margin-top: -15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.country .aboutdiv .countryitem .divIn .like ul li {
  list-style: none;
  margin-top: 5px;
  cursor: pointer;
}

.country .aboutdiv .countryitem .divIn .like ul li span {
  margin-left: 6px;
  margin-right: 18px;
}

.country .aboutdiv .countryitem .divIn .like ul li:nth-child(1) {
  margin-left: 65%;
}

.country .aboutdiv .countryitem .divIn button {
  position: absolute;
  bottom: 6%;
  left: 65%;
  z-index: 3;
  padding: 5px 30px;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #a55eea;
}

.country .aboutdiv .countryitem .divIn button:hover {
  color: white;
  background-color: #a55eea;
  border-color: #a55eea;
}

.readMore {
  width: auto;
  height: auto;
  margin: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.readMore .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.readMore .about .img {
  border-style: double;
  border-color: #a55eea;
  width: 400px;
  height: 420px;
  position: relative;
  margin-top: 50px;
}

.readMore .about .img img {
  width: 80%;
  margin-top: -35px;
  margin-left: 17%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.readMore .about .img:hover img {
  position: relative;
  z-index: 4;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.readMore .about .img .h5div {
  text-align: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 350px;
  position: absolute;
  left: -37%;
  top: 25%;
}

.readMore .about .img .h5div h5 {
  font-family: 'Lobster', cursive;
  color: #a55eea;
  font-size: 18px;
  margin-right: 10px;
}

.readMore .about p {
  width: 35%;
  margin-left: 20px;
  margin-top: 10rem;
  color: #dccfeb;
  font-size: 20px;
}

.readMore .comment {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.readMore .comment h3 {
  font-family: 'Pacifico', cursive;
  color: #dccfeb;
  letter-spacing: 4px;
}

.readMore .comment input {
  border: 3px solid #dccfeb;
  border-radius: 10px;
  height: 30px;
  width: 20rem;
  background-color: transparent;
  color: #dccfeb;
  outline: none;
  font-size: 18px;
}

.readMore .comment textarea {
  outline: none;
  width: 20rem;
  border: 3px solid #dccfeb;
  border-radius: 10px;
  background-color: transparent;
  color: #dccfeb;
  font-size: 18px;
}

.readMore .comment button {
  padding: 5px 30px;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  background-color: #dccfeb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #a55eea;
}

.readMore .comment button:hover {
  color: white;
  background-color: #a55eea;
  border-color: #a55eea;
}

.userComments {
  margin: 3rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userComments .comments {
  color: #dccfeb;
}

.userComments .comments h3 {
  letter-spacing: 1px;
}

.userComments .comments p {
  width: auto;
  border-bottom: 1px dotted #a55eea;
  padding-bottom: 10px;
}

body {
  background-color: #1e272e;
  overflow-x: hidden;
}

footer {
  margin-top: 20px;
  padding: 15px;
  color: #a55eea;
  width: auto;
  border-top: 1px solid #a55eea;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
/*# sourceMappingURL=style.css.map */